{% extends 'Layout.html.twig' %}

{% block title %}Edit {{ user.nickname }}{% endblock %}

{% block content %}
<form class='' method="post" action=''>
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                            width="150">
                        <div class="mt-3">
                            <input type="text" class="form-control" name="nickname" value="{{ user.nickname }}">
                            <p class="text-secondary mb-1">User ID</p>
                            <p class="text-muted font-size-sm">{{ user.id }}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">First Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" name="firstName" value="{{ user.firstName }}">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Last Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" name="lastName" value="{{ user.lastName }}">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="email" class="form-control" name="email" value="{{ user.email }}">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Role</h6>
                        </div>
                        <div class="col-sm-9 ">
                            <select class="form-select " name="roleName" id="roleName">
                                {% for role in roles %}
                                {% if (user.roleName is same as(role.roleName)) %}
                                <option selected="selected" value="{{role.roleName}}">{{role.roleName}}</option>
                                {% else %}
                                <option value="{{role.roleName}}">{{role.roleName}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>                    
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" name="passwordHash" value="{{ user.passwordHash }}">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Actif</h6>
                        </div>
                        <div class="col-sm-9 form-check form-switch">
                            <input class="btn-check" id="true" type="radio" name="isActive" value=1>
                            <label class="btn" style="background-color: #396DAC; color:#6AC0B9;" for="true">YES</label>
                            <input class="btn-check" id="false" type="radio" name="isActive" value=0>
                            <label class="btn" style="background-color: #396DAC; color:#6AC0B9;" for="false">NO</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" name="token" value="{{ get_token('registration') }}">
                            {% if (role is same as('SuperAdmin') ) %}
                            <a type='submit' value='Delete' name='delete' class="btn btn-danger"
                                href="/admin/deleteuser/{{ user.id }}">Delete</a>
                            {% endif %}
                            <input type='submit' value='Save' name='update' class="btn btn-success"
                                href="/admin/edituser/{{ user.id }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}